*{
    box-sizing: border-box;
}

.main_section{
    margin: 0;
}

.intro {
    text-align: center;
    color: white;
    background-color: rgb(29, 7, 7);
    height: 400px;
    padding: 30px 0px;
}
.intro h1{
    font-family: caveat;
    font-size: 72pt;
}
.intro h3 {
    font-family: caveat;
    font-size: 28pt;
}